<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="hexapod">


    <link name="base_footprint"></link>

    <link name="base_link">
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0"></origin>
            <geometry>
            <box size="0.3 0.3 0.15"/>
            </geometry>
        </visual>
    </link>

    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"></parent>
        <child link="base_link"></child>
        <origin xyz="0 0 0" rpy="0 0 0"></origin>
    </joint> 

</robot>
